body{
    background-color: blanchedalmond;
}

.text-biru{
    color:blue; 
    font-family: 'Times New Roman', Times, serif;
    padding:10px 20px;
    border: 1px;
    font-size: 12pt;
}

.tombol{
    background-color:deeppink;
    color: blue;
}



